.userHead {
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  place-items: center;

  transform: translateY(-700px);
  transition: transform 500ms ease-in-out;
  .interactWithUser {
    display: flex;
    align-self: end;
    position: absolute;
    button {
      font-size: 1.3rem;
      border-style: hidden;
      cursor: pointer;
      &.deleteFriend {
        color: red;
        padding: 3px 8px;
      }
      &.addUserButton {
        color: green;
        padding: 3px 8px;
      }
    }
  }

  #actualUsername {
    font-size: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }
}
