.messaging {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  .contact {
    margin: 0;
    padding: 0;
    flex: 0.15;
    list-style: none;
  }

  .chat {
    display: flex;
    flex-direction: column;
  }

  .chat,
  .chatBodyPlaceholder,
  .chatBody {
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex: 1;
  }

  .chatBody {
    flex-direction: column;
    justify-content: space-between;
  }

  .chatBodyPlaceholder {
    justify-content: center;
    align-items: center;
    // transform: translateX(2000px);
    // transition: transform 500ms ease-in-out;
    .placeholderText {
      // transform: translateY(2000px);
      // transition: transform 400ms ease-in-out 250ms;
    }
  }
}
