.redditFlow {
  flex: 1;
  display: flex;
}

.redditLoader {
  flex: 1;
  display: grid;
  place-items: center;
}

.redditLoaderIcon {
  width: 5rem;
  font-size: 20rem;
  animation: redditLoading 2s infinite;
}

@keyframes redditLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
