.singleFeedPost {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  &.even {
    transform: translateX(1000px);
    transition: transform 500ms ease-in-out;
  }

  &.odd {
    transform: translateX(-1000px);
    transition: transform 500ms ease-in-out;
  }

  .postContent {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr 1fr;

    p {
      margin: 0;
      padding: 0.5rem 0.5rem 0.5rem 0rem;
    }

    img {
      clip-path: circle();
      shape-outside: circle();
      width: 12vw;
      height: 12vh;
      object-fit: cover;
      place-self: center right;
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .username {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .textContent {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
