.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .profilPicture {
    width: 75px;
    height: 75px;
  }
  .searchWrapper {
    .searchBar {
      position: relative;
    }
  }
}
